/* 
  Root Values 
  body 
  Top header
  middle header
  nav bar
  sidebar
  slider
*/

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #fed700;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-ec-dark: #181818;
    --bs-ec-dark-body: #d9d9d9;
    --bs-primary: #f39636;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fed700;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #333e48;
}
/* Body */
body {
	position: relative;
    overflow-x: hidden;
}

/* Top Header */
.top-header{
    display: block;
    border-bottom: 1px solid #000;
    padding: 5px;
    height: 40px;
}
.top-header ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-header ul li{
    display: inline;
    list-style-type: non;
}
.menu-header-support{
    float: left;
}
.menu-top-bar-right{
    float: right;
}
  .top-header ul>.menu-item+.menu-item:before {
    content: '|';
    color: #ddd;
    display: inline-block;
    margin: 0 1em;
  }
  .top-header .menu-item>a i {
    margin-right: 6px;
    font-size: 1rem;
}

.top-header .ul>li>a {
    padding: .58em 0;
    display: inline-block;
}

a {
    color: #333e48 !important;
    text-decoration: none !important;
}
header{
    border-bottom: 1px solid #ddd;
}
/* Top Header */

/* Header */

.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-container-logo {
    flex: 15%;
  }
  .logo{
    display: block;
    width: 100%;
    height: 100%;
}
.logo img{
    width: 70%;
    height: auto;
}

  .flex-container-menu{
      flex: 2%;
      padding-top: 15px;
  }
  /* Search */
  .flex-container-search {
    flex: 40%;
  }
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.navbar-search{
padding: 10px;    
}
.navbar-search .input-group {
    height: 41px;
    
}

.navbar-search .input-group>div {
    height: 100%;
}
.navbar-search .input-search-field {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    color: #fd7e14;

}

.navbar-search .form-control, .navbar-search .input-text, .navbar-search input[type=email] {
    padding: .2em 2.134em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-style: none !important;
    border: 2px solid #fd7e14;
    
}


 .navbar-search .input-group-addon{
    border-width: 2px;
    border-style: solid;
    border-left-style: none;
}

.search-categories{
    color: #fd7e14;
}
.navbar-search .search-categories>select {
    border-width: 0;
}
select {
    padding: .25rem 0 .25rem 0;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.navbar-search .btn, .navbar-search .button, .navbar-search .dokan-btn, .navbar-search button, .navbar-search input.dokan-btn[type=submit]{
    height: 100%;
    margin-left: -2px;
    padding: .34em 1rem;  
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-color: #fd7e14;
    border: 2px solid #fd7e14;
}


  /*Search End  */
  .flex-container-icons {
    flex: 30%;
    padding: 15px;
  }
  .price-list{
      padding: 10px;
      padding-top: 20px;
      align-self: flex-end;
  }

.icons{
    margin-left: 100px;
    padding: 5px;
}
.icons ul{
    list-style-type: none;
  margin: 0;
  padding: 15px;
}
.icons ul li{
    display: inline;
    list-style-type: non;
}

.icons ul li a i {
    margin-right: 2.5rem;
    font-size: 1.5rem;
}
.cart-header{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cart-header li{
    display: inline;
}
.cart-header li a{
    padding-left: 10%;
} 
/* End Header */

/* Nav bar */
.navbar-hob{
    min-height: 45px;
}
.category{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    color: white;
    padding: 10px;
    background: #fd7e14  url(../image/Icons/Menu.png) no-repeat left .70rem center ;
    background-size: 25px 15px;
  
}
.category a{
    color: #fff !important;
    padding-left: 55px !important;
    padding-top: 4px !important;
    border: none;
}
nav {
    display: block;
	position: absolute;
    width: 18%;
    z-index: 20;
    float: left;
    height: auto;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
    background-color: white;
    display: block;
    padding: 4px 10% 5px 10%;
}
nav ul li a {
	display: block;
	color: #444;
    border-bottom: 1px solid #000;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
.sidemenu{
    font-weight: 600;
}

nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav ul ul {
	background-color:#ebebeb;
}
nav ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 4px 4px;
}
nav ul li ul li{
    padding:0px 20px 5px 20px;
}
nav ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #f39636;
}
.side-block {
    width: 100%;
    position: absolute;
    background-color: white;
    margin-left: 250px;
    margin-top: -5rem;
    z-index: 100;
}
.side-block a{
    background-color: white;
    padding: 5px 5px !important;
}
/* End Nav Bar */


/* Horizontal Nav Bar */
.horizontal-navbar{
    display: block;
    position: absolute;
    width: 80%;
    padding-left: 20%;
    padding-top: 10px;
    float: left;
    height: 20px;
}
.horizontal-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 .horizontal-li {
    display: inline ;
    padding:20px;
  }
  .horizontal-li a{
    font-weight: 700;
  }

 .horizontal-li a:active{
    color: green !important;
  }
    

  .dropdown-content {
    display: none;
    position: absolute;
    width: 1000px;
    border-top-style: solid;
    border-top-color: coral;
    background-color: #fff;
    /* width: max-content; */
    padding:15px;
    margin-top: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content ul{
      background-color: #fff;
      padding:10px;
    }
    .dropdown-content ul li {
        
    }
  .dropdown-content .horizontal-submenu-header{
      font-weight: 600;
     
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.sub-menu ul{
    display: none;
}

/* End Horizontal Nav Bar */


/* Slider */
.slider{
    width: 100vw;
    height: fit-content;
    display: flex;
    margin-left: calc(-50vw + 50% - 8px);
    margin-left: calc(-50vw + 50% - 0px);
    background: url(../image/banner/banner.jpg) no-repeat;
    padding-bottom: 20px;
   
}
.myslider {
    display: block;
    width: 65% !important;
    float: right;
    position: relative;
    right: 0;
  }
  .myslider .item {
      display: block;
    height: auto;
    margin-top: 10px;
    width: 100%;
    background: #eeeeee;
  }
  .myslider .item img {
      float: left;
    height: auto;
    width: 50% !important;
  }
  .myslider .item .a {
    float: left;
    width: 50%;
    padding-top: 20px;
  }

  .a h4{
      color: blue;
      font-weight: 700;
      font-size: 22px;
  }
  .a h2{
    font-weight: 400;
    font-size: 48px;
}
.owl-dots {
 margin-top: -5rem !important;
 float: left;
}
  .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff !important;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #f39636 !important;
    width: 30px;
    height: 10px;
    border-radius: 15%;
  }
  
  .btn-round{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    background-color: #fd7e14;
    color: white;
    border: none;
}



.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes bounceInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(30px);
    }
    80% {
       -webkit-transform: translateY(-10px);
    }
    100% { 
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
 }
 
 .bounce {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
 }

/* End Slider */


/* Feature Products */
.Feature-Products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
  }
  .feature-item {
    background-color: rgba(219, 213, 213, 0.8);
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto  auto;
    
  }
  .feature-item img{
   width: 100px;
   height: 130px;      
} 
.feature-item span{
    margin-left: 10px;
    margin-top: 10px;
}
.feature-item span a{
    margin-top: 20px;
    padding-top: 10px;
    font-weight: 700;
}
/* End Feature Products */

/* Special Offers Products */
.content{
    width: 100%;
    height: 600px;
    position: relative;
}
.special-offer{
  display: block;
  float: left;
  width: 30%;
  height: 600px;
  padding: 10px;
}
 .special-product{
     border: 1px solid #f39636;
     border-radius: 10px;
     min-height: 400px;
     padding: 10px;
 }
 .special-product-header{
   display: block;
   width: 100%;
   height: 80px;
   padding: 10px;
 }
 .special-product-header h3{
  float: left;
  font-weight: 700;
  width: 70%;
  margin-top: 15px;
}
.special-product-header .offer-price{
  float: right;
  width: 20%;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: #f39636;
}
.special-product-header .offer-price span{
  line-height: 1;
}
  .product-content{
      text-align: center;
  }
  .product-content img{
      width: 80%;
      padding: 20px 50px;
  }

.category-products{
    display: block;
    float: left;
    width: 70%;
    height: 600px;
}
.category-products .product-header{
    border-bottom: 1px solid #000;
}
.product-content .price{
  font-size: 22px;
  color: #f39636;
}
.product-content p{
  font-size: 12px;
}
.time-word{
  font-size: 10px;
}
.time{
  margin-top: 10px;
}
.time span{
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: #eee;
}
/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 40px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 5px solid #f39636;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 5px solid #f39636;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 0px;
    border-top: none;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .product-item {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px;
    padding: 0px 20px;
    position: relative;
  }
  .product-item span{
    font-size: 12px;
  }
  .product-item p{
    font-size: 14px;
    font-weight: 600;
  }
 .product-item img{
   margin-top: -20px;
   height: 150px;
   width: 150px;
 }
  
  .price {
    width: 100%;
    height: 40px;
  }
  .pricelist{
   width: 50%;
   font-size: 18px;
   float: left;
   padding-left: 10px;
  }
  .cart{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 5px;
  }
  .cart i{
    border-radius: 55%;
    background-color: #eeefff;
    padding:5px;
    font-size: 14px;
    color: #fff;
  }
  .Whishlist {
    display: none;
    width: 100%;
    border-top: 1px solid #eee;
    color: #FF2200;
  }
  .wishlist{
   width: 50%;
   font-size: 14px;
   float: left;
  }
  .compare{
    width: 50%;
    float: right;
    text-align: right;
  }
  .product-item:hover .Whishlist {
    display: block;
  }
  .product-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: relative;
    -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1);
  }
  .product-item:hover .cart i{
    background-color: #f39636;
  }
/* End Special Offers Products */

/* category-content */
.category-content{
    width: 100vw;
    background-color: #efefee;
    height: fit-content;
    padding: 20px;
}
 .books-category-header{
   border-bottom: 1px solid #000;
   
 }
 .books-category-header  .tablink{
   font-size: 12px;
   padding-bottom: 5px;
   font-weight: 500;
 }
 .books-category-header  .tablink.active{
   font-weight: 700;
   font-size: 14px;
 }
 .category-book-container{
   display: grid;
   grid-template-columns: 18% 18% auto auto 18% 18%;
   margin-top: 15px;
 }
 .category-book-item-1{
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 20px;
  background-color:  rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
 }
 .category-book-item-1 img{
   justify-items: center;
   width: 115%;
   height: auto;
   margin-left: -30px;
   margin-top: 5px;
 }
 .category-book-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 20px;
  position: relative;
}
.category-book-item:nth-last-child(5) {
  border-right: none;
}
.category-book-item:nth-last-child(4) {
  border-left: none;
  border-bottom: none;
}
.category-book-item:nth-last-child(3) {
  border-left: none;
  border-bottom: none;
}
.category-book-item:nth-last-child(2) {
  border-bottom: none;
}
.category-book-item:nth-last-child(1) {
  border-right: none;
  border-bottom: none;
}
.category-book-item{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.category-book-item span{
  font-size: 12px;
}
.category-book-item p{
  font-size: 14px;
  font-weight: 600;
}
.category-book-item img{
 margin-top: -20px;
 height: 150px;
 width: 150px;
}
.category-book-item:hover .Whishlist {
  display: block;
}
.category-book-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: relative;
  -ms-transform: scale(0.5); /* IE 9 */
-webkit-transform: scale(0.5); /* Safari 3-8 */
transform: scale(1);
}
.category-book-item:hover .cart i{
  background-color: #f39636;
}


.category-book-item-1:hover .Whishlist {
  display: block;
}
.category-book-item-1:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: relative;
  border-top: none;
  border-bottom: none;
  -ms-transform: scale(0.5); /* IE 9 */
-webkit-transform: scale(0.5); /* Safari 3-8 */
transform: scale(1);
}
.cart-button{
  background-color: #f39636;
  border-radius: 20px;
  border:none;
  font-size: 12px;
  font-weight: 600;
  padding:5px;
  color: white;
}
.cart-button i{
 background-color: #f39636;
}
/* End category-content */

/* Add Section */
  .add img{
    width: 100%;
    height: 100%; 
    margin-top: 20px; 
  }
/* End Add Section */


/* Recently Added */
.reacently-added-header{
  border-bottom: 1px solid #000;
  padding:5px 0px;
  margin-top: 10px;
}
.reacently-added-header span{
  border-radius: 2px;
  border-bottom: 5px solid #f39636;
  font-size: 22px;
  padding-bottom: 5px;
}
.recently-added-content{
  display: grid;
   grid-template-columns:auto auto auto auto ;
   padding: 10px;
}

.recently-added-item {
  font-size: 16px;
  display: grid;
  grid-template-columns: 45%  55%;
  border-right: 1px solid #000;
  margin:10px;
}
.recently-added-item img{
  width: 175px;
  height: auto;    
  margin-left: -20px;  
} 
.recently-added-item span{
  font-size: 12px;
  margin-top: 25px;
}
.recently-added-item span a{
  margin-top: 20px;
  padding-top: 10px;
  font-weight: 700;
}
.recently-added-item .recently-added-price{
  font-size: 18px;
  color: #f39636;
}
.recently-added-item:hover .cart i{
  background-color: #f39636;

}

.recently-added-item:nth-last-child(1) {
  border-right: none;
}
.recently-added-item:nth-last-child(5) {
  border-right: none;
}
/* End Recently Added Section */

/* Partner Publication */
.partner-publication{
  margin-top: 10px;
  border-bottom: 1px solid #000;
}
.partner-publication-header{
 border-bottom: 1px solid #000;  
 text-align: center;
}

.partner-publication-header span{
  border-bottom: 5px solid #f39636;  
  font-size: 22px;
  font-weight: 600;
  border-radius: 2px;
 }
 .publicationslide .item{
  margin: 5px;
  padding:10px;
}
.publicationslide .item img{
  display: block;
  width: 40% !important;
  height:auto;
}

 .publicationslide {
   height: 125px;
 }

/* End Partner Publication */

/* Testomonials */
.testonomials-csr{
  display: grid;
  grid-template-columns:auto auto ;
  margin-top: 20px;
}
.csr-activites, .testonomials{
  margin: 15px 20px 15px 0px;
}
.csr-content, .testonomials-content{
  display: grid;
  grid-template-columns:auto auto ;
  margin-top: 20px;
}
.csr-header span , .testonomials-header span{
  border-bottom: 5px solid #f39636;
  font-size: 20px;
  padding:5px 0px
}
.csr-header  , .testonomials-header {
  border-bottom: 1px solid #000;
  font-size: 20px;
  padding:5px 0px;
}
.csr-content img, .testonomials-content img{
  border-radius: 10px;
  width: auto;
  height: 200px;
}

.csr-content span, .testonomials-content span{
   font-size: 20px;
   font-weight: 600;
   padding-left: 10px;
   text-align: justify;
}
/* End Testomonials */

/* Subscribe Section */
.subscribe{
  background-color: #f39636;
  width: 100vw;
  height: 60px;
}
.subscribe-content{
  display: grid;
  grid-template-columns:auto auto auto;
  align-items: center;
  font-size: 16px;
  color: white;
}
.sign-up-words{
  font-size: 24px;
}
.coupon-sign-up{
  font-size: 20px;
}
.subscribe-btn{
  background-color:  red !important;
}
/* End Subscribe Section */

/* Footer */
.footer{
  display: grid;
  grid-template-columns:auto auto auto auto;
  margin-top: 25px;
}
.footer img{
  width: auto;
  height: 90px;
  margin-left: -15px;
}
.contact-footer{
  display: grid;
  grid-template-columns:15% auto ;
}
.contact-footer i{
  font-size: 48px;
  color: #f39636;
}

.contact-footer span small{
  font-size: 14px;
  color: #ebebeb;
  font-weight: 600;
}

.footer-short-link ul{
  list-style-type: none;
  padding-left: 0px;
  font-size: 18px;
}
.footer-nav-link ul{
  list-style-type: none;
  margin-top: 10px;
  font-size: 18px;
}
.footer-payment-link ul{
  list-style-type: none;
  margin-left: -25px;
}
.footer-payment-link img{
  width: 150px;
  height: auto;
 
}
.social-media{
  height: 40px !important;
  margin-left:-8px !important;
  margin-top: 10px;
} 
/* End Footer */

/* HOB EXPECT HOME PAGE NAV BAR */
.navbar-main{
  height: 50px;
}
.hob-main-navbar{
  background-color: #f39636;
  width: 100vw;
}
.hob-main-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hob-main-nav li {
  float: left;
}

.hob-main-nav li  {
  display: inline-block;
  text-align: center;
  align-content: center;
  padding: 10px 16px;
  background-color: #f39636;
  text-decoration: none;
}
.hob-main-nav li  a{
  color: white !important;
  border-bottom: none;
  font-size: 16px;
  font-weight: 600;
}
.hob-main-nav li  a::after {
  content: '|';
  color: #ddd;
  display: inline-block;
  margin: 0 0 0 2em ;
  height: 5px;
}


/* END HOB EXPECT HOME PAGE NAV BAR */

/* Hero Header */
.hero-header-contain{
  height: 50px;
  margin-top: 10px;
}
.hero-header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero-header li{
  display: inline-block;
  text-align: center;
}
.hero-header li+ li:before  {
  content: '>';
  color: #000;
  display: inline-block;
  margin: 0 0.5em 0 0 ;
}
.hero-header li:nth-last-child(3) a, .hero-header li:nth-last-child(2) a {
  border-radius: 20px;
  background-color: #ebebeb;
  padding: 10px;
} 
/* End Hero Header */
/* Single Book Details */
.book-details{
  display: grid;
  grid-template-columns:20% auto ;
}
.Categories-section-product-details{
  border: 1px solid #000;
  border-radius: 10px;
}
.Categories-section-product-details .header-category{
  border-bottom: 1px solid #000;
  padding:10px;
  text-align: center;
  list-style-type: none;
}
.second-header-category{
  padding:10px;
  text-align: center;
  list-style-type: none;
}
.second-header-category span{
  border-bottom: 1px solid #000;
  font-size: 15px;
  padding:10px;
}
.normal-category{
  list-style-type: none;
  padding-left: 20%;
}
.normal-category #active{
  font-weight: 800;
}
.recent-book-list{
  margin-top: 40px;
}
.recent-book-list-header{
   border-bottom: 1px solid #000;
}
.recent-book-list-header span{
  border-bottom: 5px solid #f39636;
  font-size: 18px;
  border-radius: 2px;
}
.recent-added-book-list{
  display: grid;
  grid-template-columns:30% auto ;
}
.recent-added-book-list img{
  margin-left: -50px;
  width: 150px;
}
.recent-added-book-list span{
 font-size: 12px;
 margin-top: 20px;
}
.book-details-img-content{
  display: grid;
  grid-template-columns:35% auto ;
}
.book-image img{
   width: 110%;
}
.book-content-details li{
  list-style: none;
  display: inline;
}
.book-content-details-header{
  border-bottom: 1px solid #000;
}
.book-content-description{
  padding-left: 25px;
}
.book-content-description li{
  list-style: none;
  display: list-item;
}
.book-content-price li{
  font-weight: 700;
  font-size: 20px;  
}
.original-price{
  color: #f39636;
}
.book-content-add-to-cart .round{
  border-radius: 25px;
  padding: 7px 15px;
  text-align: center;
}
.book-content-add-to-cart button{
 border: none;
 background-color: #f39636;
 color: whitesmoke;
 font-weight: 600;
}
.book-content-add-to-cart input{
  padding-left: 50px;
  width: 120px;
  font-size: 16px;
}
/* End Single Book Details */

/* Reviews */
.Reviews-Book{
 height: auto;
 width: 100%;
}
.Reviews-Book-header{
  text-align: center;
}
.Reviews-Book-header span{
  border-bottom: 5px solid #f39636;
  width: 100px;
}
.Reviews-Book-header span{
  font-size: 24px;
}
.Reviews-Book-Contents{
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.Reviews-Book-body{
  display: grid;
  grid-template-columns:auto auto ;
  margin-bottom: 50px;
}
.Reviews-footer li, .Reviews-start li{
  display: inline;
}
.rate {
  display: inline;
  float: left;
  height: 30px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  margin-left: 5px;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover + label,
.rate > input:checked + label:hover,
.rate > input:checked + label:hover + label,
.rate > label:hover + input:checked + label {
  color: #c59b08;
}

.review-submit input, .review-submit textarea{
  border-radius: 20px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.review-submit textarea{
  height: 100px;
}
.review-submit .submit button{
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #f39636;
  color: white;
  font-weight: 600;
}
/* End Reviews */


/* Second Hand Page */
.single-image-coursel{
  overflow: hidden;
  position: relative;
  height: 300px;
  background-color: #000;
}

.demo-bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.demo-content span{
  border-top: 1px solid #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.demo-content h5{
  border-radius: 10px;
  background-color: #fff;
  color: black;
  padding:5px;
  margin-left: 41%;
  margin-right: 41%;
}
.btn-round{
  background-color: #f39636;
  margin-top: 20px;
}
/* End Second Hand Page  */